<html>
    <!-- //头部模板 -->
    <%- partial('_partial/header') %>
    <body class="is-preload">
        <!-- //内容模板 -->
        <%- body %>
        <!-- //尾部模板 -->
        <%- partial('_partial/footer') %>
    </body>
</html>